<!-- Section: Design Block -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
     
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
          <li class="nav-item">
            <a class="nav-link active" routerLink=''>Library Application Using MEAN stack</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-primary me-3 left" routerLink="/login">
            Login
          </button>
          
          
        </div>
      </div>
      <!-- Collapsible wrapper -->
    
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Sign up now</h2>
              <form #newUserLogin="ngForm" (ngSubmit)="signup()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div>
                      <label class="form-label" for="form3Example1">First Name</label>

                      <input type="text" id="form3Example1" class="form-control" name="First_Name" [(ngModel)]="addUser.First_Name" required/>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div>
                      <label class="form-label" for="form3Example2">Last Name</label>

                      <input type="text" id="form3Example2" class="form-control" name="Last_Name" [(ngModel)]="addUser.Last_Name" />
                    </div>
                  </div>
                </div>
  
                <!-- Email input -->
                <div >
                  <label class="form-label" for="form3Example3">Email address</label>

                  <input type="email" id="form3Example3" class="form-control" name="email" [(ngModel)]="addUser.email" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required />
                </div>
  <br>
                <!-- Password input -->
                <div >
                  <label class="form-label" for="form3Example4">Password</label>

                  <input type="password" id="form3Example4" class="form-control" name="password" [(ngModel)]="addUser.password"  minlength="1" required/>
                </div>
  
            <br>
  
                <!-- Submit button -->
                
                <button type="submit"   class="btn btn-primary btn-block mb-4" [disabled]="newUserLogin.form.invalid">
                  Sign up
                </button>
  
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Already Have an Account?</p>
                  <a routerLink="/login"><p class="fw-bold mb-5">Login Here</p></a>
                  
  
                  
                </div>
              </form>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://source.unsplash.com/95t94hZTESw" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</div>