<app-header></app-header>
<section>
    <div class='card'>
        <form (ngSubmit)="AddBook()">
    <div class='card-header'>
     ADD BOOK
    </div>
    <div class='card-body'>            
      <div class='table-responsive'>
        <table class='table'>       
        
          <tbody>  
              <tr>
                  <td> <label>Book Id</label></td>
                  <td><input type="number" name="bookId" [(ngModel)]="bookItem.bookId"/></td>                  
                </tr>   
                <tr>
                    <td><label>Book  Name</label></td>
                    <td><input type="text" name="b_name" [(ngModel)]="bookItem.bookName"/></td>                  
                  </tr>  
                  <tr>
                    <td><label>Genre</label></td>
                    <td><input type="text" name="genre" [(ngModel)]="bookItem.genre"/></td>                  
                  </tr>  
                  <tr>
                    <td><label>Author Name</label></td>
                    <td><input type="text" name="b_authorName" [(ngModel)]="bookItem.authorName"/></td>                  
                  </tr>    
                  <tr>
                    <td><label>Book imageUrl</label></td>
                    <td><input type="text" name="b_image" [(ngModel)]="bookItem.imageUrl"/></td>                  
                  </tr>  
                  <tr>
                    <td></td>
                    <td><input type="submit"  class="btn btn-success btn-lg" value="Submit" /></td>                  
                  </tr>             
          </tbody>
        </table>
      </div>
    </div>
    </form>
    </div>
    
</section>
<app-footer></app-footer>
