    <!-- Navbar -->
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      
       
    
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink=''>Library Application Using MEAN stack</a>
          </li>
        </ul>
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
          <!-- Left links -->
          
          <!-- Left links -->
    
          <div class="d-flex align-items-center">
            
            <button type="button" class="btn btn-primary me-3 left" routerLink="/signup">
              Sign up
            </button>
            
          </div>
        </div>
        <!-- Collapsible wrapper -->
      
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </div>  
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4">
          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">Welcome Back</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem;"  #userLogin="ngForm" (ngSubmit)="loginUser()">

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>
            <div  >
              <label class="form-label" for="form2Example18"  aria-required="" >Email address</label>

              <input type="email" id="form2Example18" class="form-control form-control-lg" name="username" [(ngModel)]="user.uname" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required />
            </div> 

            <!-- <div class="form-outline mb"> -->
            <div>
              <label class="form-label" for="form2Example28" >Password</label>

              <input type="password" id="form2Example28" class="form-control form-control-lg" name="password" [(ngModel)]="user.password" minlength="1" required />
             </div> 
            

            <div class="pt-1 mb-4">
              
               <button type="submit"     class="btn btn-info btn-lg btn-block" [disabled]="userLogin.form.invalid"  >Login</button>
            </div>

            <p>Don't have an account? <a routerLink="/signup" class="link-info">Register here</a></p>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://source.unsplash.com/6wAGwpsXHE0"
          alt="Login image" class="w-100 vh-100" style="object-fit: contain; object-position: left; ">
      </div>
    </div>
  </div>
</section>